body {
  padding-bottom: 50px;
}

.floating_action_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(244, 89, 23);
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
  z-index: 10;

  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: none;
  }

  svg {
    margin-right: 10px;
    margin-bottom: -3px;
    height: 1em;
  }
}

.image img {
  height: auto;
}

.page-header {
  padding: 200px 0;
  width: 100%;
  background-size: cover;
  background-position: center center;

  h2 {
    text-align: center;
    padding: 30px;
    background-color: rgba(10, 10, 10, 0.5);
    color: white;
  }
}

img {
  width: 100%;
}

.text--bold {
  font-weight: bold;
}

.cover {
  background-image: url('/images/outside3.jpg');
  width: 100%;
  height: calc(100vh - 56px);
  background-size: cover;
  background-position: center center;
  padding-top: 20%;

  h1 {
    text-align: center;
    padding: 30px;
    background-color: rgba(10, 10, 10, 0.5);
    color: white;
  }
}
